
 <div class="container">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h1 style="display: flex; align-items: center;">
  <i class="material-icons" style="font-size: 20px; margin-right: 10px;">lock</i>
  Login
</h1>  
    <form>
         <div class="form-group">
            <label for="usuario">Email:</label>
            <input type="text" id="usuario" class="form-control" pInputText required [(ngModel)]="email" name="email">
       </div>
       <div class="form-group">
            <label for="senha">Senha:</label>
            <div class="input-group">
            <input type="password" id="senha" class="form-control" pInputText   required [(ngModel)]="senha" name="senha" [type]="hide ? 'text' : 'password'">
            <div class="input-group-append">
            <button class="eye" (click)="toggleVisibility()">
              <fa-icon [icon]="hide ? faEyeSlash : faEye"></fa-icon>
            </button>
        </div>
        </div>
        </div>
        <div class="button" style="text-align:center">
         <button class="btn" pButton type="button" label="Entrar" (click)="onLogin()"></button>
        </div>
    </form>
  </div>
  <p>{{ mensagemErro }}</p>
  <p>Faça o login com o email e senha presentes na tabela de usuários do banco de dados.</p>
<!--   <div class="container">
    <h1>Login</h1>
    <form>
      <div class="form-group">
            <div class="form-group">
              <label for="usuario">Usuário: </label>
              <input type="text" id="usuario" class="form-control" pInputText required [(ngModel)]="usuario" />
            </div>
  
            <div class="form-group">
              <label for="senha">Senha: </label>
              <input type="password" id="senha" class="form-control" pInputText required [(ngModel)]="senha" />
            </div>
  
            <div class="button" style="text-align:center">
              <button type="button" pButton (click)="onLogin()">Entrar</button>
            </div>
          </div>
    </form>
  </div>
  <p>{{ mensagemErro }}</p> -->
<!--   <div class="container">
    <form>
          <div class="form-group"> 
              <label for="username">Username:</label>
              <input type="text" id="username"  pInputText [(ngModel)]="usuario" />
          </div>
  
          <div class="form-group">
              <label for="password">Password:</label>
              <input type="text" id="username"  pInputText [(ngModel)]="usuario" />
           </div>
  
          <div class="button" style="text-align: center;">
              <button type="button" pButton label="Submit" (click)="onLogin()"></button>
           </div>
    </form>
  </div>
  <p>{{ mensagemErro }}</p>  -->

<!--   <table>
    <tr>
      <td>Usuário:</td>
      <td><input type="text" [(ngModel)]="usuario" /></td>
    </tr>
    <tr>
      <td>Senha:</td>
      <td><input type="password" [(ngModel)]="senha" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <hr />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button (click)="onLogin()">Entrar</button>
      </td>
    </tr>
  </table>
  <p>{{ mensagemErro }}</p> -->
  