<mat-toolbar class="toolbar-content" color="primary">
  <div class="nav-buttons">
  <button mat-button (click)="redirectToPokemonsList()">Ir para a lista de Pokémons</button>
  <button mat-button (click)="redirectToUsersList()">Ir para a lista de Usuários</button>
  </div>
  <span class="spacer"></span>
  <button mat-button class="logoff-button"  (click)="onLogoff()">Logoff</button>
</mat-toolbar>
<div class="container">
    <div class="container">
        <h2 class="title">Pokémon CRUD</h2>
      
        <!-- Formulário para adicionar um novo Pokémon -->
        <form #pokemonForm="ngForm" (ngSubmit)="onSubmit()" class="pokemon-form">
          <div class="form-group">
            <label for="pokemonName" class="form-label">Nome:</label>
            <input type="text" id="pokemonName" class="form-control" required [(ngModel)]="pokemonName" name="pokemonName">
          </div>
          <div class="form-group">
            <label for="baseAttack" class="form-label">Ataque:</label>
            <input type="number" id="baseAttack" class="form-control" required [(ngModel)]="baseAttack" name="baseAttack">
          </div>
          <div class="form-group">
            <label for="baseDefense" class="form-label">Defesa:</label>
            <input type="number" id="baseDefense" class="form-control" required [(ngModel)]="baseDefense" name="baseDefense">
          </div>
          <div class="form-group">
            <label for="baseStamina" class="form-label">Stamina:</label>
            <input type="number" id="baseStamina" class="form-control" required [(ngModel)]="baseStamina" name="baseStamina">
          </div>
          <div class="form-group">
            <label for="form" class="form-label">Forma:</label>
            <input type="text" id="form" class="form-control" [(ngModel)]="form" name="form">
          </div>
          <div class="form-group">
            <label for="pokemonId" class="form-label">Pokemon_id:</label>
            <input type="number" id="pokemonId" class="form-control" required [(ngModel)]="selectedPokemon.pokemon_id" name="pokemonId">
          </div>
          <div class="form-group">
            <label for="usuarioId" class="form-label">Usuário:</label>
            <select id="usuarioId" class="form-control" required [(ngModel)]="selectedUserId" name="usuarioId">
              <option value="" disabled selected>Selecione um usuário</option>
              <option *ngFor="let user of userList" [value]="user.codigo">{{ user.nome }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">  {{ isEditing ? 'Salvar Alterações' : 'Adicionar Pokémon' }}</button>
          <button type="button" class="btn btn-secondary" *ngIf="isEditing" (click)="cancelEdit()">Cancelar</button>
        </form>
      </div>
      
  
    <hr>
    <div class="input-group mb-3">
      <input type="number" class="form-control" placeholder="Pesquisar Pokémon pelo ID" [(ngModel)]="searchPokemonId" name="searchPokemonId">
      <div class="input-group-append">
        <button type="button" class="btn btn-primary" (click)="searchPokemonById()">Pesquisar Pokémon pelo ID</button>
      </div>
    </div>
     <!-- Exibição dos Pokémon existentes -->
  <div class="pokemon-cards" *ngIf="showPokemonList">
    <div *ngFor="let pokemon of pokemonList" class="pokemon-card">
      <h3>{{ pokemon.pokemon_name }}</h3>
      <p>ID: {{ pokemon.id }}</p>
      <p>Ataque: {{ pokemon.base_attack }}</p>
      <p>Defesa: {{ pokemon.base_defense }}</p>
      <p>Stamina: {{ pokemon.base_stamina }}</p>
      <p>Forma: {{ pokemon.form }}</p>
      <p>Pokemon_id: {{ pokemon.pokemon_id}}</p>
      <p>Usuário: {{ getUserNomeById(pokemon.usuario_id) }}</p>
      <div class="actions">
        <button class="btn edit" (click)="editPokemon(pokemon)">Editar</button>
        <button class="btn delete" (click)="deletePokemon(pokemon)">Excluir</button>
      </div>
    </div>
  </div>
  <!-- Exibição do card do Pokémon pesquisado -->
<div class="pokemon-cards">
  <div *ngIf="!showPokemonList && selectedPokemon" class="pokemon-card">
    <h3>{{ selectedPokemon.pokemon_name }}</h3>
      <p>ID: {{ selectedPokemon.id }}</p>
      <p>Ataque: {{ selectedPokemon.base_attack }}</p>
      <p>Defesa: {{ selectedPokemon.base_defense }}</p>
      <p>Stamina: {{ selectedPokemon.base_stamina }}</p>
      <p>Forma: {{ selectedPokemon.form }}</p>
      <p>Pokemon_id: {{ selectedPokemon.pokemon_id}}</p>
      <p>Usuário: {{ getUserNomeById(selectedPokemon.usuario_id) }}</p>
      <div class="actions">
        <button class="btn edit" (click)="editPokemon(selectedPokemon)">Editar</button>
        <button class="btn delete" (click)="deletePokemon(selectedPokemon)">Excluir</button>
        <button class="btn clear-search" (click)="clearSearch()">Voltar para os cards</button>
      </div>
  </div>
</div>
  
  <form *ngIf="selectedPokemon && isEditing" #editPokemonForm="ngForm" (ngSubmit)="onSubmitEdit()">
    <div class="form-group">
      <label for="pokemonName">Nome:</label>
      <input type="text" id="pokemonName" class="form-control" required [(ngModel)]="selectedPokemon.pokemon_name" name="pokemonName">
    </div>
    <div class="form-group">
      <label for="baseAttack">Ataque:</label>
      <input type="number" id="baseAttack" class="form-control" required [(ngModel)]="selectedPokemon.base_attack" name="baseAttack">
    </div>
    <div class="form-group">
      <label for="baseDefense">Defesa:</label>
      <input type="number" id="baseDefense" class="form-control" required [(ngModel)]="selectedPokemon.base_defense" name="baseDefense">
    </div>
    <div class="form-group">
      <label for="baseStamina">Stamina:</label>
      <input type="number" id="baseStamina" class="form-control" required [(ngModel)]="selectedPokemon.base_stamina" name="baseStamina">
    </div>
    <div class="form-group">
      <label for="form">Forma:</label>
      <input type="text" id="form" class="form-control" [(ngModel)]="selectedPokemon.form" name="form">
    </div>
    <div class="form-group" >
      <label for="pokemonId">Pokemon_id:</label>
      <input type="number" id="pokemonId" class="form-control" required [(ngModel)]="selectedPokemon.pokemon_id" name="pokemonId">
      </div>
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    <button type="button" class="btn btn-secondary" *ngIf="isEditing" (click)="cancelEdit()">Cancelar</button>
  </form>
</div>
